<div class="container-xxl px-md-5 shadow-lg">

    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h1>Buku Resep</h1>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/populer" class="nav-link px-2 link-secondary">Populer</a></li>
      </ul>

      <div class="col-md-2 text-end">
        <form method="POST" action="/search">
          <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
      </div>
      <a type="submit" href="/dashboard" class="btn btn-outline">Dashboard</a>
      <a type="submit" href="/logout" class="btn btn-outline">SignOut</a>
    </header>
